.main-font-size {
  color: #4a4a4a;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

body,
.list-group-item,
h2,
.change-font-size,
.custom-select,
.news-type option {
  color: #ffffffbe !important;
  background: rgb(0, 0, 0) !important;
}
.list-group-item {
  border-color: #ffffffc5 !important;
}
